aside a{
    color: #ffffff;
}
a:hover{
    color: #337ab7;
}
aside{
    float: right;
    width: 30%;
    margin-top: 30px;
}
.side{
    margin: 0px auto;
}
.side-body{
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    background-color: #1f1f1f;
    color: white;
    width: 90%;
    /* height: 392px; */
    margin: 20px 0px 40px 0px;
}
.side-body p{
    padding: 15px;
}    
.side-list li{
    border: 1px solid #292929;
    background-color: #1f1f1f;
    padding: 10px 15px;
    margin: 1px 0px -1px 0px;
}