
.article a{
    color: #000000;
}
a:hover{
    color: #337ab7;
}
.container{
    width: 90%;
    margin: 70px auto 20px auto;
}
.container .main{
    width: 80%;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    background-color:  #fdfdfd;;
    margin: 20px auto 50px auto;
    padding: 20px;
}
.mainHead h2{
    margin: 20px 0px;
}
.mainHead p{
    line-height: 40px;
}
.main .mainText{
    line-height: 30px;
}
/* xmp用于包含带有html代码的文字，pre用于包含带有其他代码的文字节省排版时间 */
xmp,pre{
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.42857143;
    margin: 10px auto;
    border-radius: 20px;
    background-color: rgba(102,204,204,.05);
}


